PORT=5000
PAYSTACK_SECRET_KEY=sk_test_XXXXXXXXXX
MONGO_URI=mongodb://localhost:27017/tenderville

ADMINPASSWORD=XXXXXXXXXX

# JWT
JWT_SECRET=XXXXXXXXXX

# Supabase
SUPABASE_URL=XXXXXXXXXX
SUPABASE_ANON_KEY=XXXXXXXXXX
SUPABASE_SERVICE_ROLE_KEY=XXXXXXXXXX


# Cloudinary
CLOUDINARY_CLOUD_NAME=XXXXXXXXXX
CLOUDINARY_API_KEY=XXXXXXXXXX
CLOUDINARY_API_SECRET=XXXXXXXX


# email js
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
